@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

input {
  color: black; /* Ensure input text color is black */
}

textarea {
  color: black; /* Ensure textarea text color is black */
}

input::placeholder {
  color: #999; /* Ensure placeholder text color is visible */
}

textarea::placeholder {
  color: #999; /* Ensure placeholder text color is visible */
}


@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
